<li class="skills__item list-group-item m-2 border border-secondary d-flex align-items-center" draggable="true" id="{{skillValue}}">{{skill}}
	<input type="hidden" name="skill[]" value="{{skillValue}}">
	<button type='button' class='remove-skill ml-2 px-1 py-0 btn btn-danger'>X</button>
</li>
