<div class="skills__item g-2">
	<li class="skills__item list-group-item m-1 border border-dark border-1 rounded-pill" 
		draggable="true" id="{{skillValue}}">{{skill.name}}

		<input type="hidden" name="skill[]" value="{{skill.id}}">

		<button type='button' class='remove-skill m-1 ml-1 px-1 py-0 btn btn-danger'>X</button>
	</li>
</div>

