<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>

<form method="post">

    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="forname">Prénom :</label>
        <input type="text" id="forname" name="user_name">
    </div>
    <div>
        <label for="mail">mail :</label>
        <input type="email" id="mail" name="user_mail">
    </div>
    <div>
        <label for="birth_date">Date de naissance :</label>
        <input type="date" id="date" name="user_date">
    </div>
    <div>
        <label for="login">Login :</label>
        <input type="login" id="login" name="user_login">
    </div>
    
    <div>
        <label for="Password">Mot de passe :</label>
        <input type="Password" id="Password" name="user_Password">
    </div>
    <div>
        <label for="RePassword">Répeter Le Mot de passe :</label>
        <input type="RePassword" id="RePassword" name="user_Password">
    </div>
<input type="text" name="pseudo" />
</form>

<p>Texte après le formulaire</p>
</body>
</html>