@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #c4c4c4;
    --secondary-color: #FBFBFB;
    --fill-color : #0e1212;
    --purple : #94447C;
    --bg-light : radial-gradient(var(--primary-color),transparent,var(--purple) 130%);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
}

.style{
    background-color: var(--secondary-color) !important;
}
.btn-outline-success{
    border-color: var(--purple) !important;
    color: var(--purple) !important;
}
.btn-outline-success:hover {
    background-color: var(--purple) !important;
    color: var(--secondary-color) !important;

}

.bigmenu {
    display:none;
}

#butmenu {
    position: absolute;
    position: fixed; 
    color: var(--purple);
    z-index: 5;
    margin-top: 38vh;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}

.sidenav a {
    padding: 8px 8px 35px 50px;
    text-decoration: none;
    font-size: 60px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}


@media screen  and (min-width:1000px){
    .smallmenu {
        display: none;
    }
    
    .bigmenu {
        display:block;

    }

    #butmenu {
        display:none;
    }
    
    .menu {
        padding-left:0;
        width: 15%;
        height: 100%;
        background: white;
        position: fixed;
    }
      
    h4 {
        text-align: center;
        color:black;
    }
      
    .menu li {
        margin-top: 15%;           
        text-align: center;
        height: 10%;
    }
      
    .menu li a {
        
        text-decoration: none;
        font-weight:bold;
        font-size: medium;
    }
      
    .menu li :hover {
        color:#94447C;
    }

    html, body {
        height: 100vh;
    }

    body {
        display:flex;
        justify-content: start;
        width: 100%;
    }
    
    .menubody {
        display:flex;
        flex-direction: column;
        flex-shrink: 0;
        width:15%;
        z-index: 10;
    }
    
    .content {
        justify-content: center;
        flex-grow: 1;
        max-width: 85%;
    }
    
}


