.backgroundPage {
    background-color: rgb(194, 186, 186)
}

.button { 
    text-align: end;
}

.container{
    max-width : 100%;
     height : auto;
}



.container1 {
    background-color: rgb(44, 42, 42);
    border: 94447C;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 150px;
    border-color:rgb(153, 63, 153) ;
    border-radius: 8px;
   }


   
.nav-link1 {
    color:rgb(153, 63, 153);
    text-decoration: none;
    
    
}



.container2 {
    background-color: rgb(153, 63, 153);
    padding: 5px;
    width: 150px;
    margin-right: 5px;
   border-radius: 8px;
   border-color:rgb(153, 63, 153) ;
   border-style: solid;
   border: rgb(153, 63, 153) 5px;
    
}
.nav-link2 {
    color: white;
    text-decoration: none;

    
}

.carousel-inner{
    max-height: 400px;
}

.carousel-indicators{
   border-width: 50pxx;
}

.logo {
    margin-left: 20px;
}

button {
    
    border: none;
}



.annonces {
    padding: 15px;
    text-align: center;
   
    
}
.annonce {
    background-color: rgb(153, 63, 153);
color: white;
border-style: solid;
    border-width: 1px;

}


.carousel {
   text-align: center;
   
}



.container3 {
    padding: 20px;
    }

.container4{
    position: relative;
    
    }

   .texte_centrer {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 250%;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  text-align: center;
  
}