{% extends 'layout.html.twig' %}
{% block stylesheet %}
	{# include css files for boostrap from CDN#}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <main class="container">
        <h1>Ajouter une nouvelle offre</h1>

        <form class="row g-1 form" method="post">
            <div>
                <p class="col-12 form-floating mb-1 form">
                    <label for="category">Choisir une catégorie:</label>
					<select class="form-control" id="category" name="category">
							<option value="default" disabled>--Sélectionnez une catégorie--</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
					</select>
                </p>

                <p class="col-12 form-floating mb-1 form">
                    <label  for="title">Titre</label>
                    <input class="form-control" type="text" name="title" id="title">
                </p>

                <p class="col-12 form-floating mb-1 form">
                    <label  for="city">Choisir la ville</label>
                    <input class="form-control" type="text" name="city" id="city">
                </p>   

                <p class="col-12 form-floating mb-1 form">
                    <label  for="description">Description</label>
                    <textarea class="form-control" name="description" id="desciption"></textarea>
                </p>

                <p class="col-12 form-floating mb-1 form">
					{% if errors is defined %}
						{% for error in errors %}
							<p>{{error}}
							</p>
						{% endfor %}
					{% endif %}
					             
                    <input type="submit" value="Sauvegarder">
                </p>

            </div>


        </form>
    </main>
{% endblock %}